Repository ionic-team/capacitor, pull requests merged in 2021-01, with the labels that each got.

#4033 feat(android): switch to new callback-style permission requests
  android/capacitor/build.gradle
  android/capacitor/src/main/java/com/getcapacitor/Bridge.java
  android/capacitor/src/main/java/com/getcapacitor/BridgeActivity.java
  android/capacitor/src/main/java/com/getcapacitor/PermissionState.java
  android/capacitor/src/main/java/com/getcapacitor/Plugin.java
  android/capacitor/src/main/java/com/getcapacitor/PluginHandle.java
  android/capacitor/src/main/java/com/getcapacitor/PluginMethod.java
  android/capacitor/src/main/java/com/getcapacitor/annotation/CapacitorPlugin.java
  android/capacitor/src/main/java/com/getcapacitor/cordova/MockCordovaInterfaceImpl.java
Labels: platform: android

#4048 fix(iOS): skip Swift type coercion on Cordova plugin calls
  ios/Capacitor/Capacitor/CapacitorBridge.swift
  ios/Capacitor/Capacitor/JS.swift
Labels: platform: ios

#4060 refactor(android): remove status parameter from plugin callbacks
  android/capacitor/src/main/java/com/getcapacitor/Plugin.java
Labels: platform: android

#4062 feat(android): method to check permission for an alias
  android/capacitor/src/main/java/com/getcapacitor/Plugin.java
Labels: platform: android

#4063 refactor(android): fix error msg and comments related to permission callback
  android/capacitor/src/main/java/com/getcapacitor/Plugin.java
  android/capacitor/src/main/java/com/getcapacitor/PluginMethod.java
Labels: platform: android

#4100 fix(android): get PermissionState enum by state value
  android/capacitor/src/main/java/com/getcapacitor/Bridge.java
  android/capacitor/src/main/java/com/getcapacitor/PermissionState.java
Labels: bug, platform: android

#4072 fix(iOS): preserve null values in bridged types
  ios/Capacitor/Capacitor.xcodeproj/project.pbxproj
  ios/Capacitor/Capacitor/Array+Capacitor.swift
  ios/Capacitor/Capacitor/CAPPluginCall.swift
  ios/Capacitor/Capacitor/JSTypes.swift
  ios/Capacitor/CapacitorTests/BridgedTypesHelper.swift
  ios/Capacitor/CapacitorTests/BridgedTypesTests.m
  ios/Capacitor/CapacitorTests/BridgedTypesTests.swift
Labels: platform: ios

#4108 test(iOS): Add tests for `Date` types in JSValue collections
  ios/Capacitor/CapacitorTests/BridgedTypesTests.swift
  ios/Capacitor/CapacitorTests/JSONSerializationWrapper.h
Labels: platform: ios
